.total {
  position: relative;
  width: 415px;
  padding: 15px 14px;
  border-radius: 5px;
  background: #816eff;
  margin: 15px auto;
}

.total__titles {
  display: grid;
  grid-template-columns: 1fr 140px 1fr;
  grid-template-rows: 30px 30px;
}
.total__titles p {
  margin: 0 auto;
}

.total__currency__first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
}
.total__currency__second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  grid-column: 3;
  grid-row: 2;
}

.total__red {
  color: rgb(255, 0, 0);
}
