.total {
  position: relative;
  width: 90%;
  padding: 15px 0px;
  border-radius: 5px;
  background: #003edb;
  margin: 15px auto;
}

.total__titles {
  display: grid;
  grid-template-columns: 1fr 140px 1fr;
  grid-template-rows: 30px 30px;
}
.total__titles p {
  margin: 0 auto;
}

.total__currency__first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  color: #000000;
}
.total__currency__second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  grid-column: 3;
  grid-row: 2;
  margin: 0 auto;
  color: #000000;
}

.total__red {
  color: rgb(255, 0, 0);
}
.button {
  width: 160px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(226, 22, 63);
  font-weight: 700;
  cursor: pointer;
  margin-top: 15px;
}
.button:hover {
  background: #ff5555;
}
