input {
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  -webkit-appearance: none;
}
.currency__second,
.currency__first {
  width: 110px;
}
.position__titles,
.cours {
  width: 80px;
}
