.position {
  position: relative;
  width: 415px;
  padding: 15px 14px;
  border-radius: 5px;
  background: #816eff;
  margin: 15px 0;
}

.position__titles {
  display: grid;
  grid-template-columns: 1fr 140px 1fr;
  grid-template-rows: 30px 30px;
}
.position__titles p {
  margin: 0 auto;
}
