.position {
  position: relative;
  width: 90%;
  padding: 15px 14px;
  border-radius: 5px;
  background: #003edb;
  margin: 15px auto 0;
  box-sizing: border-box;
}

.position__titles {
  display: grid;
  grid-template-columns: 1fr 140px 1fr;
  grid-template-rows: 30px 30px;
}
.position__titles p {
  margin: 0 auto;
}
