.sheet {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 10px;
}
.sheet:hover {
  background: rgb(255, 86, 86);
  cursor: pointer;
}
.active {
  background: rgb(66, 248, 34);
}
.button {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: url("../../img/btnDelete.png");
  background-position: center center no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.sheet__currencies {
  display: flex;
}
