.perspective {
  display: grid;
  grid-template-columns: 1fr 140px 1fr;
  grid-template-rows: 30px 30px 30px 40px 40px;
  width: 90%;
  padding: 20px 0px;
  border-radius: 5px;
  background: #003edb;
  margin: 15px auto;
}
.perspective h4 {
  grid-column: 1 / span 3;
}
.teg__margin {
  margin: 10px auto;
  grid-column: 2 / span 1;
  grid-row: 4;
}

.margin__number {
  grid-column: 3 / span 1;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  background: #ffffff;
  margin: 10px auto;
  color: #000000;
}
